*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  gap: 4rem;
  padding: 3rem 0.5rem;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5);
}
h1 {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}
.card {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0 1rem;
}
#ville,
#temperature {
  width: 100%;
}
#ville {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 6.5rem;
}
#temperature {
  font-size: 5rem;
  margin-bottom: 5rem;
}
#changer {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
  background: rgba(178, 223, 251, 0.3);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  #ville {
    font-size: 3.3rem;
  }
  #temperature {
    font-size: 4.5rem;
  }
}
