*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  gap: 4rem;
  padding: 2rem 1rem;    
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); 
}
h1{
  font-size: 5rem;
  font-weight: 500;
}
.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
h1, #ville, #temperature, #changer {
  text-align: center;
}
#ville {
  font-size: 4rem;
  margin-bottom: 6.5rem;
}
#temperature {
  font-size: 5rem;
  margin-bottom: 5rem;
}
#changer {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
  background: rgba(178, 223, 251, 0.3);
  border: none;
  cursor: pointer;
}